@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  padding-right: 0 !important;
  overflow: auto !important;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

a:hover {
  color: #00795c;
}
p {
  margin-bottom: 24px;
}
p:last-child {
  margin-bottom: 0;
}
.container {
  max-width: 100%;
  padding-left: 80px;
  padding-right: 80px;
}
@media (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* header css */
.site-header .menu-toogle-btn {
  color: #00795c;
}
.site-header .menu-toggle-icon {
  width: 40px;
  height: 40px;
}
.site-header .container {
  padding-left: 20px;
  padding-right: 20px;
}

.mobile-menu-Drawer {
  background: rgba(255, 255, 255, 0.9);
  /* Drop Shadow */
  box-shadow: 0px 0px 0.9821px rgba(0, 0, 0, 0.05),
    0px 3.9284px 7.8568px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 950px;
  margin-top: 142px;
  margin-right: 80px;
  max-height: 310px;
}
.mobile-menu-Drawer .nav-list > ul > li {
  padding: 0;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  counter-increment: brick-counter;
}

.mobile-menu-Drawer li .sub-menu a {
  margin-bottom: 12px;
  font-weight: 400;
}
.mobile-menu-Drawer header {
  display: none;
}
.mobile-menu-Drawer li a.title {
  margin-bottom: 20px;
  display: block;
  font-weight: 600;
}
.mobile-menu-Drawer .nav-list > ul > li:last-child a.title {
  color: #595959;
}
@media (min-width: 768px) {
  .mobile-menu-Drawer .nav-list > ul > li:last-child {
    border-left: 1px solid #dedede;
    left: -80px;
    position: relative;
    padding-left: 20%;
  }
}
@media (min-width: 1024px) {
  .header-sticky.mobile-menu-Drawer {
    margin-top: 92px;
  }
}
@media (max-width: 1023px) {
  .mobile-menu-Drawer {
    width: calc(100% - 20px);
    margin: 90px auto 20px;
  }
}
@media (max-width: 767px) {
  .mobile-menu-Drawer {
    max-height: none;
    background: #fff;
  }
}
/* End header css */

/* HeroSlider section */
.heroSlider-sec .swiper-button-prev,
.heroSlider-sec .swiper-button-next {
  color: #ffffff;
}
.heroSlider-sec .h-screen {
  height: 82vh;
}
.heroSlider-sec .swiper-button-next:after,
.heroSlider-sec .swiper-rtl .swiper-button-prev:after,
.heroSlider-sec .swiper-button-next:after,
.heroSlider-sec .swiper-button-prev:after {
  font-size: 60px;
}
.heroSlider-sec .img-overlay {
  background: linear-gradient(
    180deg,
    rgba(118, 118, 118, 0) 0%,
    rgba(0, 0, 0, 0.45) 53.13%,
    rgba(0, 0, 0, 0.65) 100%
  );
}
.heroSlider-sec .slider-content .title {
  font-weight: 700;
  font-size: 65px;
  line-height: 1.2;
}
.heroSlider-sec .slider-content .btn {
  border-radius: 100px;
}
.heroSlider-sec .slider-content .sub-title {
  font-weight: 400;
  font-size: 32.96px;
  line-height: 1.2;
}
.heroSlider-sec img {
  display: none;
  animation: fadeOut 0.5s linear;
}
.heroSlider-sec img.active {
  display: block;
  animation: fadeIn 0.5s linear;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 1024px) {
  .heroSlider-sec .swiper-button-prev,
  .heroSlider-sec .swiper-rtl .swiper-button-next {
    left: 30px;
  }
  .heroSlider-sec .swiper-button-next,
  .heroSlider-sec .swiper-rtl .swiper-button-prev {
    right: 30px;
  }
}
@media (max-width: 1023px) {
  .heroSlider-sec .slider-content .title {
    font-size: 32px;
  }
  .heroSlider-sec .slider-content .sub-title {
    font-size: 24px;
  }
  .heroSlider-sec .swiper-button-next:after,
  .heroSlider-sec .swiper-rtl .swiper-button-prev:after,
  .heroSlider-sec .swiper-button-next:after,
  .heroSlider-sec .swiper-button-prev:after {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .heroSlider-sec .swiper-button-next:after,
  .heroSlider-sec .swiper-rtl .swiper-button-prev:after,
  .heroSlider-sec .swiper-button-next:after,
  .heroSlider-sec .swiper-button-prev:after {
    font-size: 20px;
  }
}
/* End HeroSlider section */

/* barnd section  */
/* End barnd section  */

/* footer css */
.site-footer {
  background-color: #3a3e3f;
}
/* End footer css */

/* CollectionsGrid section  */
@media (min-width: 1280px) {
  .collectionsGrid-item:first-child {
    grid-row: span 2 / span 2;
  }
  .collectionsGrid-item:nth-child(2) {
    grid-row: span 2 / span 2;
  }
}
.collectionsGrid-item:nth-child(2) > a,
.collectionsGrid-item:nth-child(1) > a {
  padding-bottom: 148%;
}
.collectionsGrid-item,
.collectionsGrid-item > a,
.collectionsGrid-item img {
  border-radius: 0.5rem;
}
.collectionsGrid-item .img-overlay {
  background: linear-gradient(
    180deg,
    rgba(118, 118, 118, 0) 0%,
    rgba(0, 0, 0, 0.45) 53.13%,
    rgba(0, 0, 0, 0.65) 100%
  );
}
.collectionsGrid-item a:hover svg {
  color: #00795c;
  background-color: #fff;
}
.collectionsGrid-item {
  box-shadow: 0px 0px 0.9821px rgba(0, 0, 0, 0.05),
    0px 3.9284px 7.8568px rgba(0, 0, 0, 0.1);
}
.quick-links-sec .collectionsGrid-item > a {
  padding-bottom: 40% !important;
}
.quick-links-sec {
  border-radius: 0.5rem;
}
@media (min-width: 1024px) {
  .quick-links-sec .collectionsGrid-item,
  .quick-links-sec .collectionsGrid-item > a,
  .quick-links-sec .collectionsGrid-item img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
@media (max-width: 1023px) {
  .quick-links-sec .collectionsGrid-item,
  .quick-links-sec .collectionsGrid-item > a,
  .quick-links-sec .collectionsGrid-item img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
@media (max-width: 1279px) {
  .collectionsGrid-item > a {
    padding-bottom: 80% !important;
  }
}
@media (max-width: 767px) {
  .collectionsGrid-item {
    width: 100%;
  }
  .collectionsGrid-item > a {
    height: auto !important;
    padding-bottom: 76% !important;
  }
  .quick-links-sec .collectionsGrid-item > a {
    padding-bottom: 60% !important;
  }
}
/* End CollectionsGrid section  */
.site-header {
  transition: all 0.5s;
}
.site-header.header-sticky {
  margin-top: 0;
}

.article-slide .swiper-button-next,
.article-slide .swiper-button-prev {
  color: #fff;
  top: calc(50% - 100px);
}

.article-slide .article-slider {
  /* padding-left: 50px;
  padding-right: 50px;
  margin-left: -50px;
  margin-right: -50px; */
}

.article-slide .swiper-button-next {
  /* margin-top: 0px;
  position: absolute;
  top: 50%;
  right: -40px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%); */
}
.article-slide .swiper-button-prev {
  /* position: absolute;
  top: 50%;
  left: -40px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
  margin-top: 0px; */
}

/* about section  */
.about-sec .img-col img {
  filter: drop-shadow(0px 0px 0.9821px rgba(0, 0, 0, 0.05))
    drop-shadow(0px 3.9284px 7.8568px rgba(0, 0, 0, 0.1));
}
.about-sec .img-col .swiper-pagination {
  position: relative;
  margin-top: 20px;
}
.about-sec .img-col .swiper-pagination .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  margin: 0 7px;
}
.about-sec
  .img-col
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #595959;
}
.about-sec .swiper {
  display: flex !important;
}
/* End about section  */

/* Product linsting page css */
.product-list-hero-img {
  box-shadow: 0px 0px 0.9821px rgba(0, 0, 0, 0.05),
    0px 3.9284px 7.8568px rgba(0, 0, 0, 0.1);
}
.content-info-col .info {
  box-shadow: 0px 0px 0.9821px rgba(0, 0, 0, 0.05),
    0px 3.9284px 7.8568px rgba(0, 0, 0, 0.1);
}
.img-info-list {
  position: absolute;
  display: flex;
  width: 100%;
  top: 63%;
  transform: translateY(-50%);
}
.img-info-list span {
  display: block;
  text-align: right;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: -0.400697px;
  color: #00795c;
}
.img-info-list li {
  position: absolute;
}
.img-info-list li:nth-child(1) {
  width: 310px;
  position: relative;
  left: 70px;
  top: 60px;
}
.img-info-list li:nth-child(1) .line,
.img-info-list li:nth-child(1) span {
  position: relative;
  left: 50px;
}
.img-info-list li:nth-child(2) {
  width: 500px;
  position: absolute;
  left: 250px;
  top: 40px;
}
.img-info-list li:nth-child(2) .line,
.img-info-list li:nth-child(2) span {
  position: relative;
  left: 80px;
  top: -10px;
  width: 310px;
}
.img-info-list li:nth-child(3) {
  width: 630px;
  left: 380px;
  top: -30px;
}
.img-info-list li:nth-child(3) .line,
.img-info-list li:nth-child(3) span {
  position: relative;
  left: -355px;
  top: -241px;
}
.img-info-list li:nth-child(3) span {
  position: absolute;
  top: -173px;
}
.img-info-list li:nth-child(4) {
  right: 90px;
  top: 10px;
}
.img-info-list li:nth-child(4) .line,
.img-info-list li:nth-child(4) span {
  position: relative;
  left: 80px;
  top: -152px;
}
.img-info-list li:nth-child(4) span {
  top: -250px;
}
.info-slider-with-img .img-info-col {
  box-shadow: 0px 0px 0.9821px rgba(0, 0, 0, 0.05),
    0px 3.9284px 7.8568px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.product-listing .card-image {
  box-shadow: 0px 4.76252px 9.52504px rgba(0, 0, 0, 0.1);
}
.product-listing .product-item:hover .pro-btn {
  opacity: 1;
}
.filter-list li a:before {
  content: '';
  width: 18px;
  height: 18px;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 100px;
  margin-right: 14px;
  vertical-align: middle;
}
.filter-list li a.active{
  color: #00795c;
}
.filter-list li a.active:before{
  border: 1px solid #00795c;
  background-color: #00795c;
  box-shadow: 0 0 0.9821px #0000000d, 0 3.9284px 7.8568px #0000001a;
}
.info-slider-with-img .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 5px);
}
.info-slider-with-img .swiper-pagination-bullet-active {
  background: #009470;
}
/* Product linsting page css */

/* ratgeber page css */
.ratgeber-banner-section .img-overlay {
  background: linear-gradient(
    180deg,
    rgba(118, 118, 118, 0) 0%,
    rgba(0, 0, 0, 0.45) 53.13%,
    rgba(0, 0, 0, 0.65) 100%
  );
}
.four-boxes-section .item {
  box-shadow: 0px 0px 0.9821px rgba(0, 0, 0, 0.05),
    0px 3.9284px 7.8568px rgba(0, 0, 0, 0.1);
}
.dr-info-tabs-section .scroll-links-wrap a {
  box-shadow: 0px 0px 0.9821px 2px rgba(0, 0, 0, 0.05),
    0px 3.9284px 7.8568px 1px rgba(0, 0, 0, 0.1);
}
.dr-faq-sec .editor-content ul li {
  display: flex;
  display: flex;
  gap: 13px 13px;
  padding-bottom: 10px;
  align-items: center;
}

.dr-faq-sec .editor-content ul li::before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Cpath fill='%2300795C' d='m220.24 132.24l-72 72a6 6 0 0 1-8.48-8.48L201.51 134H40a6 6 0 0 1 0-12h161.51l-61.75-61.76a6 6 0 0 1 8.48-8.48l72 72a6 6 0 0 1 0 8.48Z'%3E%3C/path%3E%3C/svg%3E");
  width: 31px;
  height: 31px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.my-achor-link.active {
  background-color: #00795c;
  color: #fff;
}
/* End ratgeber page css */

/* start rich-text section  */
.rich-text-sec .img-wrap img {
  filter: drop-shadow(0px 0px 1.31737px rgba(0, 0, 0, 0.05))
    drop-shadow(0px 5.26947px 10.5389px rgba(0, 0, 0, 0.1));
}
/* end rich-text section  */

.text-\[\#00795c\] {
  --tw-text-opacity: 1;
  color: rgb(0 121 92 / var(--tw-text-opacity));
}

.accordion {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.accordion.open {
  height: auto;
}
