a:hover {
  color: #63beaa;
}

.container {
  max-width: 100%;
  padding-left: 32px;
  padding-right: 32px;
}
@media (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* header css */
.site-header .menu-toogle-btn {
  color: #63beaa;
}
.site-header .menu-toggle-icon {
  width: 40px;
  height: 40px;
}
/* End header css */

/* HeroSlider section */
.heroSlider-sec .swiper-button-prev,
.heroSlider-sec .swiper-button-next {
  color: #333;
}
.heroSlider-sec .swiper-button-next:after,
.heroSlider-sec .swiper-rtl .swiper-button-prev:after,
.heroSlider-sec .swiper-button-next:after,
.heroSlider-sec .swiper-button-prev:after {
  font-size: 30px;
}
@media (min-width: 1024px) {
  .heroSlider-sec .swiper-button-prev,
  .heroSlider-sec .swiper-rtl .swiper-button-next {
    left: 60px;
  }
  .heroSlider-sec .swiper-button-next,
  .heroSlider-sec .swiper-rtl .swiper-button-prev {
    right: 60px;
  }
}
@media (max-width: 767px) {
  .heroSlider-sec .swiper-button-next:after,
  .heroSlider-sec .swiper-rtl .swiper-button-prev:after,
  .heroSlider-sec .swiper-button-next:after,
  .heroSlider-sec .swiper-button-prev:after {
    font-size: 20px;
  }
}
/* End HeroSlider section */

/* footer css */
.site-footer {
  background-color: #3a3e3f;
}
.brand-logo{
  max-width: 100px;
  height: 40px;
  display: flex;
}
/* End footer css */

/* CollectionsGrid section  */
@media (min-width: 1280px) {
  .collectionsGrid-item:first-child {
    grid-row: span 2 / span 2;
  }
  .collectionsGrid-item:nth-child(2) {
    grid-row: span 2 / span 2;
  }
}
.collectionsGrid-item:nth-child(2) a,
.collectionsGrid-item:nth-child(1) a {
  height: 560px;
}
.collectionsGrid-item,
.collectionsGrid-item a,
.collectionsGrid-item img {
  border-radius: 0.5rem;
}
.collectionsGrid-item .btn {
  max-width: 220px;
  width: 100%;
}
.collectionsGrid-item:nth-child(3) img {
  object-fit: contain;
  object-position: top left;
}
.collectionsGrid-item:nth-child(3) {
  background: #ebebeb;
}
@media (max-width: 1279px) {
  .collectionsGrid-item a {
    height: auto !important;
    padding-bottom: 60%;
  }
}
@media (max-width: 767px) {
  .collectionsGrid-item {
    width: 100%;
  }
  .collectionsGrid-item a {
    height: auto !important;
    padding-bottom: 96%;
  }
  .collectionsGrid-item:nth-child(3) a{
    padding-bottom: 59% !important;
  }
} 
/* End CollectionsGrid section  */
